
.background-style {
    -fx-background-color: #FFFFFF;
}

Button#InterfazInicio {
    -fx-background-color: #CFE8FF;
    -fx-min-width: 150px;
    -fx-max-width: 250px;
    -fx-pref-width: 200px;
    -fx-min-height: 100px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
}

.Inicio{
-fx-background-color: #CFE8FF;
    -fx-pref-width: 200px;
    -fx-min-height: 50px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.Inicio:hover {
    -fx-background-color: #044E93;
    -fx-text-fill: white;
}

.BotonesFoot{
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 150px;
    -fx-min-height: 40px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.BotonesFoot:hover {
    -fx-background-color: #044E93;
    -fx-text-fill: white;
}

.BotonesLibro{
-fx-background-color: #FFFFFF;
    -fx-pref-width: 220px;
    -fx-min-height: 35px;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
}

.BotonesLibro:hover {
    -fx-background-color: #044E93;
    -fx-text-fill: white;
}

.textoLibro{
    -fx-font-size: 14px;
    -fx-font-alignment: justify;
}

.BotonesSocio{
-fx-background-color: #FFFFFF;
    -fx-pref-width: 220px;
    -fx-min-height: 35px;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
}

.BotonesSocio:hover {
    -fx-background-color: #044E93;
    -fx-text-fill: white;
}

.textoSocio{
    -fx-font-size: 14px;
    -fx-font-alignment: justify;
}

.BotonesAutor{
-fx-background-color: #FFFFFF;
    -fx-pref-width: 220px;
    -fx-min-height: 35px;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
}

.BotonesAutor:hover {
    -fx-background-color: #044E93;
    -fx-text-fill: white;
}

.textoAutor{
    -fx-font-size: 14px;
    -fx-font-alignment: justify;
}



